%h1 Bookings Over View
.row
    .col-md-9
        .box.box-primary
            .box-body.no-padding
                #calendar
    .col-md-3
        .box.box-solid
            .box-header.with-border
                %h5 Drop on calender to Book
            .box-body
                / the events
                #my-draggable
                    .checkbox

%br
