%h1 Dashboard
.row
    .col-md-9
        .box.box-primary
            .box-body.no-padding
                #calendar
    .col-md-3
        .box.box-solid
            .box-header.with-border
                %h4.box-title Draggable Events
            .box-body
                / the events
                #my-draggable
                    .checkbox

%br
