%h1 Lishe Leo clients

#partial_page
  =render "clients/table", clients: @clients#the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)

%br

= link_to 'New Client', new_client_path, class: "btn btn-primary"
