%h1 Listing Available Times for Programs

%br
#partial_page
  =render "available_times/table", available_times: @available_times

= link_to 'New Available time', new_available_time_path,  class: "btn btn-primary"
